--swiftversion 5.3
--exclude Configurations

--commas inline

--indent 2

--decimalgrouping 3,0

--disable enumNamespaces, wrapMultilineStatementBraces

--disable unusedArguments

--disable redundantSelf
